Flask==2.3.2
pyodbc==4.0.35
pandas==2.0.0  # Stable version of pandas
numpy==1.24.0  # Specify a compatible version of numpy
requests==2.28.2  # To handle HTTP requests
SQLAlchemy==2.0.17  # For ORM (Object Relational Mapping) with databases
Flask-SQLAlchemy==3.0.3  # Extension for integrating SQLAlchemy with Flask
flask-login==0.6.2  # For handling user sessions in Flask
flask-wtf==1.1.1  # For handling forms in Flask with CSRF protection
gunicorn==20.1.0  # WSGI server for Flask in production
Jinja2==3.1.2  # Templating engine used by Flask
marshmallow==3.19.0  # Object serialization/deserialization library
pytest==7.2.2  # For running tests
pytest-flask==1.2.0  # Flask-specific pytest integration
Flask-Migrate==3.1.0  # For handling database migrations with Flask
Flask-Cors==3.1.1  # CORS support for Flask
beautifulsoup4==4.11.1  # For web scraping
lxml==4.9.1  # Dependency for BeautifulSoup to parse HTML/XML
pytz==2023.3  # For timezone handling
celery==5.2.7  # Asynchronous task queue
redis==4.5.1  # Redis client for Flask and Celery integration
setuptools>=65.5.0


